:root {
    /*--font--*/
--primary-font: "Roboto",  sant-serif;
--secondary-font: "Raleway", sant-serif;
    
    /*--color--*/
--btn-color-iris: #4d5ae5;
--btn-color-okean: #404BBF;
--text-color: #434455;
--main-header-color: #2e2f4;
--white-color: #fff;
--backgraund-light: #f4f4fD;
--backgraund-dark: #2E2F42;
--leinercoolor: #E7E9FC;
--background-green: #31D0AA; 
--helper-text: #8E8F99;

    /*--other--*/
--anim-fast: 250ms;
}
* {
    box-sizing: border-box;
}

/*--base styles--*/

body {
    font-family:"Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: none;
    color: var(--text-color);
    background-color: var(--white-color);
    
}
 /*--reset start--*/
h1,
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0px;
}
button {
    cursor: pointer;
}

ul {
    display: flex;

}
img {
    display: block;
    max-width: 100%;
    height: auto;
      }
     
.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.link {
    text-decoration: none; 
}

div {

}
label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;

    color: var(--helper-text);
}

.main-tittle {
	font-size: 56px;
	font-family:var(--primary-font);
	font-weight: 700;
	font-style: normal;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
    text-align: center;
}

.main-tittle-light {
    color:#FFFFFF;
}

.sektion-tittl {
	font-size: 36px;
	font-family:var(--primary-font);
	font-weight: 700;
	font-style: normal;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: capitalize;
    text-align: center;
    color: var(--backgraund-dark);
}

.subtittle {
	font-size: 20px;
	font-family:var(--primary-font);
	font-weight: 500;
	font-style: normal;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
    line-height: 1.2; 
    text-align: center;
  
    color: var(--backgraund-dark);
    
}

.description {
	font-size: 16px;
	font-family:var(--primary-font);
	font-weight: 500;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
    color: var(--text-color);
}

.button-text {
	font-family: inherit;
    font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-decoration: none;
	text-transform: none;
    color: var(--white-color);
}

.small-text {
	font-size: 12px;
	font-family: var(--primary-font);
	font-weight: 400;
	font-style: normal;
	line-height: 1.17;
	letter-spacing: 0.04em;
	text-decoration: none;
	text-transform: none;
}

.header {
    border-bottom: 1px solid var(--leinercoolor);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 }

.top-line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #E7E9FC;
}

.nav-list {
    display: flex;
    max-width: 564px;
    padding-bottom: 24px;
    gap: 40px;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--btn-color-iris);
    display: flex;
    letter-spacing: 0.03em;
    flex-direction: row;
    align-items: center;
    margin-right: 76px;
}

.logo-studio {
    width: 71px;
    color:var(--backgraund-dark);
    text-transform: uppercase;
}

.logo-studio-light {
    color:var(--backgraund-light);
    text-transform: uppercase;
}

.header-nav-link {
    position: relative;
    color: var(--backgraund-dark);
    padding-top: 24px;
    padding-bottom: 24px;
   
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus, 
.adress-link:hover,
.adress-link:focus {
    color: var(--btn-color-okean);
} 


.active::after {
    color: var(--btn-color-okean);
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -1px;
    left: 0px;
  
    width: 100%;
    height: 4px;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: var(--btn-color-okean);
}


.link-list {
    display: flex;
    gap: 40px;
    margin-right: auto;
}

.link-item {
    color: var(--backgraund-dark);
    text-decoration: none;  
    gap: 40px;
   }

   .adress-link {
    text-decoration: none;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress {
    display: block;
    max-width: 347px;
    margin: 0px;
    font-style: normal; 
}  

.adress-list {
    padding-top: 24px;
    padding-bottom: 24px; 
}

.mailto {
    margin-right: 40px;
}

.button {

    display: block;
    padding: 16px 32px;
    margin: 0px auto;

    min-width: 169px;
    height: 56px;
    border: none;
        
    background:var(--btn-color-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: backgraund-color var(--anim-fast), cubic-bezier(0.4, 0, 0.2, 1);   
    }
   
    .button-light { 
        color: var(--btn-color-iris);
        background:var(--backgraund-light);
    }

    .button:hover, 
    .button:focus, 
    .button-light:hover, 
    .button-light:focus {
        background-color:var(--btn-color-okean);
        color: var(--white-color);
    }


 /*---main content---*/
    
.box {
    border: 5px solid var(--white-color);
}
.container {
    width: 1158px;
    padding: 0 15px; 
    margin: 0 auto; 
}

/*----index.html-----*/
.hero {
    max-width: 1440px;
    height: 600px;
    padding: 188px 0px;
    line-height: 1.07;
    align-items: center;
    background-repeat: no-repeat;
   
    background-color: var(--backgraund-dark);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.jpg);
    background-size: cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

.hero-contaimer {
    background: transparent;
}

.hero-tittle {
    max-width: 496px; 
    margin: 0px auto;
    text-align: center;    
}

.hero-button {
    display: block;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--featufe*/

.feature-section {
    padding: 120px 0px;   
}

.feature-container {
    margin: 0px auto;
    padding: 0px;     
}

.feature-tittle {
 margin: 0px;
}

.feature-list-item {
   display: flex;
   justify-content: space-between;
   gap: 24px;    
}

.feature-list {
    width: calc((100% - 72px)/4);
}

.feature-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--backgraund-light);
    border-radius: 4px;
    margin-bottom: 8px;
}

 
.feature-item-tittle {
    margin-bottom: 8px;
    text-align: left;
}

/*---about---*/

.about-section {

}
.about-container {
   
}
    
.about-tittle {
    margin-top: 0px;
    margin-bottom: 72px;
}

.about-card-set {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
    gap: 24px;
      }
.about-item {
    flex-basis: calc((100% - 48px)/3);
    }
    
    /*---team---*/

.team {
    background:var(--backgraund-light);
    margin: 0px auto;
    padding: 120px 0px;
}

.team-container {
    padding: 32px 0px; 
    background:var(--backgraund-light);
}
.team-item {
    width: calc((100% - 72px)/4);

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
}

.team-tittl {
    margin-bottom: 72px;
    align-items: center;
}
.team-item-container {
    padding: 32px 0px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item-tittle {
    margin-bottom: 8px;
    align-items: center;
}

.social-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
    height: 40px;
}

.social-link-box {
    width: 40px;
    height: 40px;
 }

.social-item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: var(--btn-color-iris);   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-item-box:hover,
.social-item-box:focus {
    background-color: var(--btn-color-okean);
}

.link-icon {
    fill: var(--backgraund-light);
}


.team-item-img {

}
.team-item-name {
    text-align: center;

}
.team-item-function {

}

/*---Customers--*/

.customers-tittle {
    margin-bottom: 72px;
}

.section-customer {
    padding: 120px 0px;
}

.customers-container {
    display: flex;
    gap: 24px;
}

.customers-box {
    width: calc((100% - 120px) / 6);
    height: 88px;
    /*padding: 16px 32px;*/
}

.customers-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--helper-text);
    border-radius: 4px;
    color: var(--helper-text);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:hover,
.customers-item:focus {
    border: 1px solid var(--btn-color-okean);
    color: var(--btn-color-okean);
}

.logo-customers {
    fill: currentColor;
}
 /*--footer--*/

.footer { 
    margin: 0px auto;
    padding: 100px 0px;
    background: var(--backgraund-dark)
    }

.footer-box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.footer-container {
    width: 264px;
    gap: 16px;
    background: var(--backgraund-dark);
    padding: 0px;
    margin-right: 120px;
}

.footer-reset {
    display: inline-block;
    margin-bottom: 16px;   
}
.footer-item {
    padding: 0px;
    color: var(--white-color);
}
.container-footer-social {
    width: 264px;
    gap: 16px;
    background: var(--backgraund-dark);
    padding: 0px;
}
.social-footerlink-container {
    display: flex;
    flex-direction: row;
    align-items: center;  
    gap: 16px;
    margin-top: 8px;
    height: 40px; }

.footer-social {
    color: var(--white-color);
    margin-bottom: 16px;
}

.social-item-footerbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%; 
    background: var(--btn-color-iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-footerbox:hover,
.social-item-footerbox:focus {
    background-color: var(--background-green);
}

.subscribe {
  
}

.input-email {
    display: flex;
    flex-direction: row;
    gap: 24px;
    position: relative;
}

.footer-input {
    display: block; 
    position: relative;   
}

.email-holder {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 12px;
    line-height: 24px;
    color: var(--white-color);  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-email {
    width: 264px;
    height: 40px;
    padding-left: 16px ;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--white-color);
    transform-origin: left center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 


.footer-email:focus + .email-holder,
.footer-email:not(:placeholder-shown) + .email-holder {
    transform: translateY(-50%) scale(0.8);
    opacity: 0.5;
}




.btn-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    height: 40px;
   
    background: #4D5AE5;
    border-radius: 4px;
    color: var(--white-color);
}


/*---modal---*/

.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {    
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 50%;
    background-color: var(--leinercoolor);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: var(--white-color);
    background-color: var(--btn-color-okean);
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-close-icon:hover
.modal-close-icon:focus {
   
}

.modal-text {
    text-align: center;
    font-weight: 500;
    
}
.modal-form {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.modal-label {
  
   font-size: 12px;
   height: 18px;
   color: var(--helper-text);
   }
 
.modal-input {

    position: relative;
    margin-bottom: 8px;
    
}

.input-date {
    width: 360px;
    height: 40px;
    padding-left: 40px;
    color: var(--backgraund-dark);
    border: 1px solid var(--leinercoolor);
    border-radius: 4px;  
    outline: transparent;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
    position: absolute;
    width: 18px;
    height: 24px;
    left: 16px;
    bottom: 8px;
 }

.input-comment {
    display: flex;
    flex-direction: column;
   
    height: 138px;
    margin-bottom: 16px;

}

.textarea {
    margin-top: 4px;
    padding: 8px 16px;
    height: 120px;
    resize: none;
    color: var(--backgraund-dark);
    border: 1px solid var(--leinercoolor);
    border-radius: 4px;  
}
.textarea:focus {
    outline: 1px solid var(--btn-color-iris);
}

.modal-agreement {
    position: relative;
    display: flex;
    gap: 8px;
  
   align-items: center;
}
.input-agry {
    appearance: none;
    display: block;
    width: 16px;
    height: 16px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat; 
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
    
   
}
 
.input-agry:checked {
    background-color: var(--btn-color-okean);
   
}
.privacy-policy {
    color: var(--btn-color-iris);
}

.input-date:focus + .input-icon,
.input-date:focus
 {
    
    border-color: var(--btn-color-iris);
    fill: var(--btn-color-iris);
   
}

.button-send {
    margin: 24px auto;
    margin-bottom: 0px;

}

/*-----portfolio-----*/

.portfolio-section {
    padding: 96px 0px 120px;
}

.btn-portfolio-list {
    justify-content: center;
    flex-basis: 586px;
    gap: 24px;
    margin-bottom: 72px;
}

.btn-portfolio {
    padding: 12px 24px;
    border: 1px solid var(--leinercoolor);
    background: var(--backgraund-light);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    border: 1px solid transparent;
}

.container-portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.link-portfolio {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-box {
    width: calc((100% - 48px)/3); 
    border: 1px solid var(--leinercoolor);
}

.link-portfolio:hover .overlay-text,
.link-portfolio:focus .overlay-text
{
    transform: translateY(0%);
}

.thumb {

}
.overlay {
    position: relative;
    overflow: hidden;
    width: 360px;
    
    top: 0px;
    left: 0px;
 }
    
.overlay-text {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: var(--btn-color-iris);
  
    color: var(--backgraund-light);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    

.card-text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 16px;
    border: 1px solid var(--leinercoolor);
    border-top: none;
    gap: 8px;
    max-width: 360px;        
    flex-basis: 360px;
}

.card-box-tittle {
    margin-bottom: 8px;
}

.adress-item {}


.about {
   background-color: var(--backgraund-light);
}



